.header {
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.header a {
  color: #fff;
  font-size: 0.8rem;
}

.top {
  display: flex;
  width: 1000px;
  gap: 10px;
}

.main{
  display: flex;
  width: 1000px;

  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.main h1 {
  margin-right: auto;
}

